@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header .presentation {
  margin: 50px 0;
  background: url('./img/lr.png') no-repeat;
  width: 100%;
  height: 500px;
  background-size:cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc; 
  position: relative;
}

header .presentation::after {
  content: "Best prices for your house";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  color: white;
  font-weight: 600;
  font-size: 40px;
}

header .presentation::before {
  content: "Lovest prices";
  position: absolute;
  top: 200px;
  left: 50px;
  width: 300px;
  color: white;
  font-weight: 300;
  font-size: 15px;
}

footer {
  text-align: center;
  margin-top: 100px;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}